
main {
    text-align: center;
    height: 100%; /* footer */
    

}

main h1.welcome{
    padding-top: 120px;
    font-size: 2em;
    text-align: center;

}


img#coding {
    clear: both;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    display: flex;

}
.photo {
    max-width:40%;
    height: auto;
    display: block;
    text-align: center;
}

footer{
    margin-top: 100px;
    position: relative;
    border-top: 1px solid white;
    padding:20px;
    color:white;
}   

footer .info  {
    font-size: 5px;
    text-align: center;

}

.work_img {
    width: 40rem;
    height: auto;

}